body{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: red;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }